  
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">{{titulo}}</h5>
        <button type="button" class="btn-close" (click)="activeModal.dismiss()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form
        [formGroup]="formulario"
        >
          <div class="mb-3" *ngFor="let prop of formFields">
            <label class="col-form-label" >{{prop.label}}</label>
            <input
            *ngIf="!prop.nombre.includes('descripcion')"
            type={{prop.type}} 
            class="form-control" 
            formControlName={{prop.nombre}} 
            required>

            <textarea *ngIf="prop.nombre.includes('descripcion')" 
              class="form-control" 
              formControlName={{prop.nombre}} 
              required>
            </textarea>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" 
              (click)="activeModal.close(false)">
              Close
            </button>
            <button type="submit" class="btn btn-primary" 
              [disabled]="formulario.invalid" 
              (click)="activeModal.close(formulario.value)">
              Send message
            </button>
          </div>
        
      
    </form >
    
    </div>
  </div>




