<section>
<div class="d-flex flex-column container-fluid mx-0 seccion">
    <div class="d-flex container titulo-seccion align-items-center">
        <h1>Skills</h1>

        <app-buttons [title]="'Add'" (click)="openAddModal()">
        </app-buttons>

    </div>
    <!-- TODO: mejorar aspecto transicion -->
    <div class="d-flex flex-wrap justify-content-evenly" cdkDropListGroup>
        <app-skill-item *ngFor="let skill of listaSkill;let i=index" [skillItem]="skill" (aceptoBorrar)="borrar($event)"
            (editarSkill)="editar($event)" cdkDropList cdkDropListOrientation="horizontal"
            [cdkDropListData]="{item:skill,index:i}" (cdkDropListDropped)="drop($event)">
            <div class="custom-placeholder" *cdkDragPlaceholder></div>
        </app-skill-item>
    </div>
</div>
</section>