<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-0">
  <a class="navbar-brand ms-2">
    <img src="assets/APLogo1.png" width="100" alt="Argentina Programa">
  </a>

  <button class="navbar-toggler ms-auto me-2 custom-toggler" type="button" data-bs-toggle="collapse"
    data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Sobre Mí</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Proyectos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contacto</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="{{enlaceLinkedin}}" target="_blank"><i class="fa-brands fa-linkedin fa-xl"></i></a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="{{enlaceGithub}}" target="_blank"><i class="fa-brands fa-github-square fa-xl"></i></a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" role="button" title="Entrar" (click)="openLoginModal()" *ngIf="!isLogged"><i
          class="fa-solid fa-right-to-bracket"></i></a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" role="button" title="Salir" (click)="onLogOut()" *ngIf="isLogged"><i
          class="fa-solid fa-person-through-window"></i></a>
      </li>
    </ul>

  </div>

</nav>