<app-navbar
  [enlaceGithub]="usuario.urlGitHub"
  [enlaceLinkedin]="usuario.urlLinkedIn"
></app-navbar>

<section>
  <div class="container-header p-0">
    <div class="d-flex container-fluid justify-content-center p-0">
      <img src="{{usuario.urlBanner}}"
        onerror="this.src='https://drive.google.com/uc?export=view&id=1_OsIvEcZ1tJ5CcObSY1t4R6Ie1dVu9dz'"
        class="img-fluid portada" alt="banner">
    </div>
    <div class="d-flex container container-perfil justify-content-around p-2">
      <div class="d-flex img-perfil">
        <img src="{{usuario.urlFoto}}"
          onerror="this.src='https://drive.google.com/uc?export=view&id=1QUBkdzBcg7e4EJZn14S7-LqiXfgv9jLv'"
          class="foto-perfil rounded-circle img-fluid" alt="img-perfil">
      </div>
      <div class="d-flex  container-presentacion" id="presentacion">
        <div class="d-flex align-items-center flex-column ">
          <h1>{{usuario.nombre}} {{usuario.apellido}}</h1>
          <div class="loader-container d-flex flex-wrap " *ngIf="!ocultarLoader">
            <div class="spinner-grow spinner-grow text-secondary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow spinner-grow text-secondary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <div class="d-flex  spinner-grow text-secondary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <div class="d-flex  justify-content-center align-items-center descripcion">
            <h5> {{usuario.descripcion}} </h5>
            <app-buttons [title]="'Edit'" (click)="editar(usuario)">
            </app-buttons>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>