.container-header{
    margin-bottom: 2%;
}

.portada {
  width: 100%;
  max-height: 40vh;
}

.img-perfil {
  border-radius:50%;
  max-width: 40%;
  max-height: 20%;
  border: 1px solid black;
  
}

.container-perfil {
  width: 80%;
  margin-top: -8%;
  align-items: center;
  align-self: center;
  justify-content: space-evenly;
  
}

h3{
  margin-bottom: 0;
}

.container-presentacion {
  margin-top: 8%;
  text-align: center;
  
}

@media only screen and (max-width: 800px) {
  .container-perfil{
    flex-direction:column;
  }
  .container-presentacion{
    margin-top: 2%;
  }
}
