<!-- Modal -->
<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Registro
        </h5>
        <button type="button" class="btn-close" (click)="activeModal.close(false)" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registroForm" (ngSubmit)="registro(registroForm.value)">
          <div class="mb-3">
            <label class="col-form-label">Nombre</label>
            <input type=text class="form-control" formControlName="nombre" required>

            <label class="col-form-label">Email</label>
            <input type="email" 
            class="form-control" formControlName="email" required>

            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger">
              <div *ngIf="email?.errors?.['required']">
                Por favor, ingrese una dirección de email.
              </div>
              <div  *ngIf="email?.errors?.['email']">Dirección de email inválido</div>
            </div>

            <div class="form-group">
              <label class="col-form-label">Nombre de Usuario</label>
              <input type=text id="nombreUsuario" class="form-control" formControlName="nombreUsuario" required>
            
              <div *ngIf="nombreUsuario?.invalid && (nombreUsuario?.dirty || nombreUsuario?.touched)" class="alert alert-danger">
              
                <div *ngIf="nombreUsuario?.errors?.['required']">
                  Por favor, ingrese un nombre de usuario.
                </div>

                <div *ngIf="nombreUsuario?.errors?.['minlength']">
                  El nombre de usuario debe tener al menos 6 caracteres.
                </div>
              </div>
            </div>

            <label class="col-form-label">Contraseña</label>
            <input type=password  class="form-control" formControlName="password" required>
          </div>
  
          <div class="modal-footer">
            <button type="submit" [disabled]="registroForm.invalid" class="btn btn-primary">
              Crear Usuario
            </button>
          </div>
  
  
        </form>
  
      </div>
    </div>
  </div>
