<div class="container-fluid p-0 my-2">
    <div class="card"> 
      <div class="card-header d-flex">
         <h3>{{experienciaItem.tituloExperiencia}} </h3> 
  
        <div class="ms-auto">
          <app-buttons
            [title]="'Edit'"
            (click)="editar(experienciaItem)">
          </app-buttons>
          
         <app-buttons
            [title]="'Delete'"
            (click)="openDeleteModal(experienciaItem)">
         </app-buttons>

        </div>
           
      </div>
      
      <div class="card-body">
        <div class="card-title">
          <h5 *ngIf="!experienciaItem.actualidad">{{experienciaItem.anioInicio}} - {{experienciaItem.anioFin}}</h5>
           
          <h5 *ngIf="experienciaItem.actualidad">{{experienciaItem.anioInicio}} - En la actualidad</h5> 
        </div>
        <p class="card-text">{{experienciaItem.descripcionExperiencia}} - </p>
        
      </div>
    </div>
  </div>
