<div class="container">
    <div class="card"> 
      <div class="card-header d-flex">
         <h5>{{experienciaItem.tituloExperiencia}} </h5> 
  
        <div class="ms-auto">
          <app-buttons
            [title]="'Edit'"
            (click)="editar(experienciaItem)">
          </app-buttons>
          
         <app-buttons
            [title]="'Delete'"
            (click)="openDeleteModal(experienciaItem)">
         </app-buttons>

        </div>
           
      </div>
      
      <div class="card-body">
        <h5 class="card-title">{{experienciaItem.fechaExperiencia}}</h5>
        <p class="card-text">{{experienciaItem.descripcionExperiencia}}</p>
      </div>
    </div>
  </div>
