<div class="container-fluid p-0 my-2">
    <div class="card"> 
      <div class="card-header text-white bg-dark bg-gradient d-flex">
         <h4>{{experienciaItem.tituloExperiencia}} </h4> 
  
        <div class="ms-auto">
          <app-buttons
            [title]="'Edit'"
            (click)="editar(experienciaItem)">
          </app-buttons>
          
         <app-buttons
            [title]="'Delete'"
            (click)="openDeleteModal(experienciaItem)">
         </app-buttons>

        </div>
           
      </div>
      
      <div class="d-flex card-body bg-light align-items-center">
        <div class="descripcion"> 
          <h5 class="card-text">{{experienciaItem.descripcionExperiencia}} </h5>
        </div>
        
        <div class="fecha ms-auto">
          <h5 class="card-title p-1" *ngIf="!experienciaItem.actualidad">{{experienciaItem.anioInicio | date:'yyyy'}} - {{experienciaItem.anioFin | date:'yyyy'}}</h5>
           
          <h5 class="card-title p-1" *ngIf="experienciaItem.actualidad">{{experienciaItem.anioInicio | date:'yyyy'}} - En la actualidad</h5> 
        </div>
      </div>
    </div>
  </div>
