<!-- Modal Delete -->
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{titulo}}</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
          </div>
          <div class="modal-body">
          {{nombreItem}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="activeModal.close(false)">Close</button>
            <button type="button" class="btn btn-primary"  (click)="activeModal.close(true)">Understood</button>
          </div>
      </div>
  </div>
   
  
 
  
  