<div class="container my-2" cdkDrag [cdkDragDisabled]="dragDesahabilitado">
  <div class="card " style="width: 18rem;">
    <div class="card-header text-white bg-dark d-flex" >
      <div cdkDragHandle *ngIf="isLogged && (esUsuarioValido || isAdmin)"><i class="fa-solid fa-grip"></i> </div>

      <div class="ms-auto">

        <app-buttons [title]="'Edit'" (click)="openEditModal(skillItem)">
        </app-buttons>

        <app-buttons [title]="'Delete'" (click)="openDeleteModal(skillItem)">
        </app-buttons>

      </div>

    </div>

    <div class="card-body bg-light">
      <app-circle-progress [skill]="skillItem">
      </app-circle-progress>
    </div>
  </div>
</div>

  

  

 
