

<app-add-modal
   (onAddEducacion)="addEducacion($event)"
>
</app-add-modal>

<app-edit-modal
 [educacionIn]="editarEstaEducacion"
 (onEditEducacion)="editarEducacion($event)"
></app-edit-modal>

<div class="d-flex container align-items-center"> 
   <h1>Educacion</h1>
   <div>
      <app-add-button></app-add-button>
   </div>
</div>
<app-education-item
 *ngFor="let educacion of listaEducacion"
 [educationItem]="educacion"
 (educacionABorrar)="pasoAlModal($event)"
 (educacionAEditar)="pasoAlEditModal($event)"
 >
</app-education-item>






