
<div class="container-fluid p-0 my-2">
  <div class="card"> 
    <div class="card-header text-white bg-dark bg-gradient d-flex">
       <h4>{{educationItem.tituloEdu}} </h4> 

      <div class="ms-auto">
        <app-buttons
          [title]="'Edit'"
          (click)="editar(educationItem)">
        </app-buttons>
        
        <app-buttons
          [title]="'Delete'"
          (click)="borrar(educationItem)">
        </app-buttons>
      </div>
         
    </div>
    
    <div class="d-flex card-body bg-light align-items-center">
      <div class="descripcion"> 
        <h5 class="card-text">{{educationItem.descripcionEdu}}</h5>
      </div>
      <div class="fecha ms-auto"> 
        <h5 class="card-title p-1">{{educationItem.anioInicio}} - {{educationItem.estado}} </h5>
      </div>
      
    </div>
  </div>
</div>
  



