
<div class="container">
  <div class="card"> 
    <div class="card-header d-flex">
       <h5>{{educationItem.tituloEdu}} </h5> 

      <div class="ms-auto">
        <app-buttons
          [title]="'Edit'"
          (click)="editar(educationItem)">
        </app-buttons>
        
        <app-buttons
          [title]="'Delete'"
          (click)="borrar(educationItem)">
        </app-buttons>
      </div>
         
    </div>
    
    <div class="card-body">
      <h5 class="card-title">{{educationItem.fechaEdu}}</h5>
      <p class="card-text">{{educationItem.descripcionEdu}}</p>
    </div>
  </div>
</div>
  



