
<div class="container-fluid p-0 my-2">
  <div class="card"> 
    <div class="card-header d-flex">
       <h3>{{educationItem.tituloEdu}} </h3> 

      <div class="ms-auto">
        <app-buttons
          [title]="'Edit'"
          (click)="editar(educationItem)">
        </app-buttons>
        
        <app-buttons
          [title]="'Delete'"
          (click)="borrar(educationItem)">
        </app-buttons>
      </div>
         
    </div>
    
    <div class="d-flex card-body">
      <div class="descripcion"> 
        <p class="card-text">{{educationItem.descripcionEdu}}</p>
      </div>
      <div class="fecha ms-auto mx-2"> 
        <h5 class="card-title">{{educationItem.anioInicio}} - {{educationItem.estado}} </h5>
      </div>
      
    </div>
  </div>
</div>
  



